<div class="as-product-form__error-message-wrapper" role="alert" hidden>
  <div class="d-flex align-items-center">
    <div class="me-2 text-danger lh-1 icon-wrap-sm">
      {% render 'icon-alert-circle' %}
    </div>
    <div class="as-product-form__error-message text-danger fs-small"></div>
  </div>
</div>