<count-down data-start="{{ start_time }}" data-end="{{ end_time }}">
  <span class="as-not-started d-none">
    {{ start_text }}
  </span>
  <span class="as-already-started d-none">
    {{ end_text }}
  </span>
</count-down>