
<div class="mb-7 mb-sm-9 mt-7 mt-sm-9 as-page-title">
  <div class="container-core">
    <div class="fst-italic mb-5 mb-md-6 mb-lg-7">{{ 'service_portal.general.support_centre' | t }}</div>
    <h1 class="fs-h1 mb-0">{{ 'service_portal.imei.title' | t }}</h1>
    <div class="mt-5 mt-md-6 mt-lg-8 dot-border-dark border-bottom">
      <div class="row">
        <div class="pb-1 pb-lg-3 col-md-8">
          {{ 'service_portal.imei.result_description' | t }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="as-imei-result-wrap">

</div>
{% schema %}
{
  "name": "Image with info",
  "tag": "section",
  "class": "mb-7 mb-sm-9 as-imei-track-result as-footer2bottom"
}
{% endschema %}