<div class="container-core">
  {% if section.settings.title != blank %}
  <h3 class="fs-h2">{{ section.settings.title }}</h3>
  {% endif %}
  <div class="{% if section.settings.title != blank %}mt-5 mt-sm-6 dot-border-dark border-top{% endif %}">
    <div class="mt-4 mt-md-5">
      <div class="row mt-n4 row-cols-sm-2 row-cols-md-3">
        {% for block in section.blocks %}
          <div class="mt-4">
            {% if block.settings.title != blank %}
              <a class="btn w-100 btn-primary" {% render 'link', link: block.settings.url %} 
                href="{{ block.settings.url }}">{{ block.settings.title }}</a>
              {% if block.settings.richtext != blank %}
                <div class="mt-3">
                  {% render 'richtext', richtext: block.settings.richtext %}
                </div>
              {% endif %}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Download",
  "tag": "section",
  "class": "bg-light mb-7 mb-sm-9",
  "settings": [
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Headline"
    }
  ],
  "blocks": [
    {
      "name": "list",
      "type": "list",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "title"
        },
        {
          "type": "url",
          "id": "url",
          "label": "url"
        },
        {
          "type": "richtext",
          "id": "richtext",
          "label": "richtext"
        }
      ]
    }
  ]
}
{% endschema %}