<div class="container py-5 py-md-9">
  <div class="row justify-content-center text-center">
    <div class="col-lg-5 col-md-7 col-sm-9">
      <h1 class="display-404 mb-0">{{ 'general.404.title' | t }}</h1>
      <h4 class="h4 mb-4">{{ 'general.404.subtext' | t }}</h4>
      <a href="{{ routes.root_url }}products/ear-1" class="btn btn-outline-primary">{{ 'general.404.link' | t }}</a>
    </div>
  </div>
</div>