
<main id="root" role="main" class="bg-light">
  <section class="container-fits-viewport px-2 text-black section-top section-bottom">
    <div class="container-topic px-2 pt-header mt-sm-1 font-base section-bottom">
          <div class="row mx-n2">
            <div class="col-sm-3 col-xl-2 px-2">
              {% assign blog = blogs[settings.blog] %}
              {% render 'sidebar-newsroom', handle: page.handle, blog: blog %}
            </div>
            <div class="col-sm-6 px-2">
              {% render 'page-title', title: blog.title  %}
              {% section 'page-template-coverage' %}
            </div>
          </div>
    </div>
  </section>
</main>
