
<main id="root" role="main" class="bg-light">

  <section class="container-fits-viewport section-top section-bottom text-uppercase">
    <div class="container-topic gx-2 gx-sm-5 mt-4 mt-sm-7 font-base mw-text-3 m-auto">
      <div class="accordion mt-5 mt-sm-6 border-bottom border-top-0 border-start-0 border-end-0 dot-border-dark" id="accordion-specs">
        {% section 'specs-dimensions' %}
        {% section 'specs-sound' %}
        {% section 'specs-clear-voice' %}
        {% section 'specs-noise-cancellation' %}
        {% section 'specs-battery' %}
        {% section 'specs-customisations' %}
        {% section 'specs-features' %}
        {% section 'specs-contents-of-box' %}
        {% section 'specs-last' %}
      </div>
    </div>
  </section>
  
</main>
